# testing
pytest
pytest-cov
pytest-runner

# docs
sphinx
sphinx_rtd_theme

# MSL-Equipment dependencies
msl-loadlib
https://github.com/MSLNZ/msl-io/archive/master.tar.gz
enum34 ; python_version < '3.4'
pyvisa>=1.6
pyvisa-py
numpy
pyserial>=3.3
python-dateutil
nidaqmx
