<?xml version="1.0" encoding="utf-8"?>
<msl>
    <!--
        Since the root tag is not "register" this XML document
        is ignored when Config.registers() resursively looks for
        register files within the tests directory.
    -->

    <!-- User-defined constants -->
    <max_temperature unit="°C">60</max_temperature>
    <smtp>
        <file>settings.ini</file>
        <recipient>me@measurement.govt.nz</recipient>
        <recipient>you@measurement.govt.nz</recipient>
    </smtp>

    <!-- Temperature sensor monitoring the lab environment -->
    <equipment eid="MSLE.O.231" alias="dmm" model="3458A" serial="0123456789"/>
    <equipment eid="MSLE.O.103" alias="photodiode" manufacturer="MSL"/>
    <equipment eid="MSLE.O.061" alias="monochromator"/>

    <!-- The Equipment-Registers -->
    <registers>
        <register>tests/resources/mass</register>
        <register>tests/resources/light</register>
    </registers>

    <!-- The Connections -->
    <connections>
        <connection>tests/resources/connections.xml</connection>
    </connections>

</msl>