<?xml version="1.0" encoding="utf-8"?>
<config>

    <max_temperature unit="°C">30</max_temperature>
    <auto_zero>true</auto_zero>
    <nd_filter>OD: 2.0</nd_filter>
    <smtp>
        <host>smtp.server.nz</host>
        <port>25</port>
        <recipient>me@measurement.govt.nz</recipient>
        <recipient>you@measurement.govt.nz</recipient>
    </smtp>

    <equipment eid="MSLE.M.092" name="dmm" comment="borrowed from Kibble lab"/>
    <equipment eid="MSLE.O.103" name="photodiode" manufacturer="MSL" std="B03"/>
    <equipment eid="MSLE.O.061" name="monochromator"/>

    <register>tests/resources/mass</register>
    <register>tests/resources/light</register>

    <connections>tests/resources/connections.xml</connections>

</config>