.accordion-button:not(.collapsed) {
    background-color: #F1592A;
}

code {
    color: #578ac4;
}

.navbar-nav .nav-link:hover {
    color: #F1592A;
}

.webapp-log-display {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 15px;
    overflow-y: auto;
    font-family: monospace;
    border-radius: 5px;
}

.webapp-upload {
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;
}
